@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 34px;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.active {
  color: white!important;
}
@media screen and (max-width: 768px) {
  .active {
    background-color: rgb(3 105 161 / var(--tw-bg-opacity));
  }
}